[submodule "awesome/awesome-buttons"]
	path = awesome-buttons
	url = https://github.com/streetturtle/awesome-buttons
[submodule "awesome/awesome-wm-widgets"]
	path = awesome-wm-widgets
	url = https://github.com/streetturtle/awesome-wm-widgets
[submodule "keyboard_layout"]
	path = keyboard_layout
	url = https://github.com/echuraev/keyboard_layout
